# Java
*.class
*.log
hs_err_pid*
replay_pid*

# Maven / Gradle
/target/
/build/
*.jar
*.war
*.ear

# IDE
.idea/
*.iml
.classpath
.project
.settings/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database
dev.db

src/main/resources/application.properties
